{{define "title"}}Login{{end}}

{{define "main"}}
<form class="box" action='/user/login' method='POST' novalidate>

    {{range .Form.NonFieldErrors}}
    <article class="message is-danger">
        <div class="message-body">{{.}}
        </div>
    </article>
    {{end}}
    <div class="field">
        <label class="label">Email:</label>
        {{with .Form.FieldErrors.email}}
        <article class="message is-danger">
            <div class="message-body">{{.}}
            </div>
        </article>
        {{end}}
        <div class="control">
            <input class="input" type='email' name='email' value='{{.Form.Email}}'>
        </div>
    </div>
    <div class="field">
        <label class="label">Password:</label>
        {{with .Form.FieldErrors.password}}
        <article class="message is-danger">
            <div class="message-body">{{.}}
            </div>
        </article>
        {{end}}

        <div class="control">
            <input class="input" type='password' name='password'>
        </div>
    </div>
    <div>
        <button class="button is-primary">Login</button>
    </div>
</form>
{{end}}